.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    text-align: center;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark gray text */
    font-family: 'Arial', sans-serif;
    /* padding: 2rem; */
}

.errorCode {
font-size: 8rem;
font-weight: bold;
color: #dc3545; /* Red for error code */
margin: 0;
}

.message {
font-size: 2rem;
margin: 0.5rem 0;
}

.description {
font-size: 1.2rem;
margin-bottom: 1.5rem;
color: #6c757d; /* Muted text */
}

.link {
display: inline-block;
padding: 0.75rem 1.5rem;
background-color: #007bff; /* Blue button */
color: #fff;
text-decoration: none;
border-radius: 5px;
font-size: 1rem;
transition: background-color 0.3s ease;
}

.link:hover {
background-color: #0056b3; /* Darker blue on hover */
}
